# Merge of accidents and persons datasets

This notebook is a simple merge between the 'accidentsClean.csv' dataset (created in the 'accidentsClean' notebook) and the 'personsClean.csv' dataset (created in the 'personsClean' notebook).

The goal of this notebook is
    - to reorganize the person data into one row per accident and then merge it with accident data, 
    - then filter only NYC and includes only senior pedestrains(65 years old and above) in the final dataset.

In [1]:
import pandas as pd
import copy

## Load accidents data

In [2]:
acc_df = pd.read_csv('../data/cleanData/accidentsClean.csv')
acc_df.shape

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(586603, 65)

In [3]:
acc_df["ST_CASE"] = acc_df["ST_CASE"].astype('int')
acc_df["ST_CASE"] = acc_df["ST_CASE"].astype('str')
acc_df["YEAR"] = acc_df["YEAR"].astype('int')
acc_df["YEAR"] = acc_df["YEAR"].astype('str')
acc_df["ST_CASE_YEAR"] = acc_df['ST_CASE'].str.cat(acc_df["YEAR"], sep='_')

In [4]:
acc_df.head()

,ALIGNMNT,ARR_HOUR,ARR_MIN,CF1,CF2,CF3,CITY,COUNTY,C_M_ZONE,DAY,...,TYP_INT,T_CONT_F,VE_FORMS,VE_TOTAL,WEATHER,WEATHER1,WEATHER2,WRK_ZONE,YEAR,ST_CASE_YEAR
0,1.0,20.0,45.0,0.0,0.0,0.0,0.0,89.0,0.0,3.0,...,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001,10001_2001
1,2.0,5.0,17.0,0.0,0.0,0.0,0.0,15.0,0.0,3.0,...,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001,10002_2001
2,1.0,23.0,30.0,0.0,0.0,0.0,0.0,85.0,0.0,6.0,...,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001,10003_2001
3,1.0,17.0,59.0,0.0,0.0,0.0,0.0,101.0,0.0,10.0,...,NaN,0.0,2.0,NaN,1.0,NaN,NaN,NaN,2001,10004_2001
4,2.0,10.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,2.0,...,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001,10005_2001

In [5]:
sorted(acc_df.columns)

['ALIGNMNT',
 'ARR_HOUR',
 'ARR_MIN',
 'CF1',
 'CF2',
 'CF3',
 'CITY',
 'COUNTY',
 'C_M_ZONE',
 'DAY',
 'DAY_WEEK',
 'DRUNK_DR',
 'FATALS',
 'FUNC_SYS',
 'HARM_EV',
 'HIT_RUN',
 'HOSP_HR',
 'HOSP_MN',
 'HOUR',
 'LATITUDE',
 'LGT_COND',
 'LONGITUD',
 'MAN_COLL',
 'MILEPT',
 'MINUTE',
 'MONTH',
 'NHS',
 'NOT_HOUR',
 'NOT_MIN',
 'NO_LANES',
 'PAVE_TYP',
 'PEDS',
 'PERMVIT',
 'PERNOTMVIT',
 'PERSONS',
 'PROFILE',
 'PVH_INVL',
 'RAIL',
 'RD_OWNER',
 'RELJCT1',
 'RELJCT2',
 'REL_JUNC',
 'REL_ROAD',
 'ROAD_FNC',
 'ROUTE',
 'RUR_URB',
 'SCH_BUS',
 'SP_JUR',
 'SP_LIMIT',
 'STATE',
 'ST_CASE',
 'ST_CASE_YEAR',
 'SUR_COND',
 'TRAF_FLO',
 'TRA_CONT',
 'TWAY_ID',
 'TWAY_ID2',
 'TYP_INT',
 'T_CONT_F',
 'VE_FORMS',
 'VE_TOTAL',
 'WEATHER',
 'WEATHER1',
 'WEATHER2',
 'WRK_ZONE',
 'YEAR']

In [6]:
len(acc_df['ST_CASE_YEAR'].unique())

586603

## Load persons data

In [7]:
per_df = pd.read_csv('../data/cleanData/personsClean.csv')
per_df.shape

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,8,10,35,70,76,77,83,84,86,87,89) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(1486277, 97)

In [8]:
per_df.head()

,AGE,AIR_BAG,ALC_DET,ALC_RES,ALC_STATUS,ATST_TYP,BODY_TYP,CARBUR,CERT_NO,COUNTY,...,VIN_BT,VIN_LNGT,VIN_REST,VIN_WGT,WGTCD_TR,WHLBS_LG,WHLBS_SH,WHLDRWHL,WORK_INJ,YEAR
0,34.0,20.0,9.0,97.0,NaN,1.0,30.0,NaN,************,89.0,...,PS,NaN,NaN,NaN,1.0,0.0,1250.0,NaN,0.0,2001
1,20.0,1.0,9.0,96.0,NaN,0.0,4.0,NaN,************,15.0,...,4D,NaN,NaN,3374.0,NaN,0.0,1031.0,NaN,0.0,2001
2,43.0,30.0,9.0,96.0,NaN,0.0,2.0,NaN,************,85.0,...,2H,NaN,NaN,2572.0,NaN,0.0,972.0,NaN,0.0,2001
3,38.0,30.0,9.0,96.0,NaN,0.0,2.0,NaN,************,85.0,...,2H,NaN,NaN,2572.0,NaN,0.0,972.0,NaN,8.0,2001
4,50.0,1.0,9.0,97.0,NaN,1.0,3.0,NaN,************,101.0,...,2H,NaN,NaN,2822.0,NaN,0.0,970.0,NaN,9.0,2001

## Persons data aggregation

In [9]:
per_df["ST_CASE"] = per_df["ST_CASE"].astype('int')
per_df["ST_CASE"] = per_df["ST_CASE"].astype('str')
per_df["YEAR"] = per_df["YEAR"].astype('str')
per_df["ST_CASE_YEAR"] = per_df['ST_CASE'].str.cat(per_df["YEAR"], sep='_')

In [10]:
per_df.columns

Index(['AGE', 'AIR_BAG', 'ALC_DET', 'ALC_RES', 'ALC_STATUS', 'ATST_TYP',
       'BODY_TYP', 'CARBUR', 'CERT_NO', 'COUNTY', 'CYLINDER', 'DAY',
       'DEATH_DA', 'DEATH_HR', 'DEATH_MN', 'DEATH_MO', 'DEATH_TM', 'DEATH_YR',
       'DISPLACE', 'DOA', 'DRINKING', 'DRUGRES1', 'DRUGRES2', 'DRUGRES3',
       'DRUGS', 'DRUGTST1', 'DRUGTST2', 'DRUGTST3', 'DRUG_DET', 'DSTATUS',
       'EJECTION', 'EJ_PATH', 'EMER_USE', 'EXTRICAT', 'FIRE_EXP', 'FUELCODE',
       'FUNC_SYS', 'HARM_EV', 'HISPANIC', 'HOSPITAL', 'HOUR', 'IMPACT1',
       'IMPACT2', 'IMPACTS', 'INJ_SEV', 'LAG_HRS', 'LAG_MINS', 'LOCATION',
       'MAKE', 'MAK_MOD', 'MAN_COLL', 'MCYCL_CY', 'MCYCL_DS', 'MCYCL_WT',
       'MINUTE', 'MOD_YEAR', 'MONTH', 'PER_NO', 'PER_TYP', 'P_SF1', 'P_SF2',
       'P_SF3', 'RACE', 'REST_MIS', 'REST_USE', 'ROAD_FNC', 'ROLLOVER',
       'RUR_URB', 'SCH_BUS', 'SEAT_POS', 'SER_TR', 'SEX', 'SPEC_USE', 'STATE',
       'STR_VEH', 'ST_CASE', 'TIRE_SZE', 'TON_RAT', 'TOW_VEH', 'TRKWTVAR',
       'TRK_WT', 'VEH_NO', 'VE_FORMS', 'VINA_MOD', 'VINMAKE', 'VINMODYR',
       'VINTYPE', 'VIN_BT', 'VIN_LNGT', 'VIN_REST', 'VIN_WGT', 'WGTCD_TR',
       'WHLBS_LG', 'WHLBS_SH', 'WHLDRWHL', 'WORK_INJ', 'YEAR', 'ST_CASE_YEAR'],
      dtype='object')

In [11]:
per_info = per_df[["ST_CASE","ST_CASE_YEAR","AGE","SEX","STATE","COUNTY","PER_TYP","PER_NO","INJ_SEV","DOA","DEATH_MO","DEATH_DA",
                  "DEATH_YR","P_SF1","P_SF2","P_SF3","LAG_HRS","WORK_INJ","RACE","STR_VEH","LOCATION","DRINKING","DRUGS","YEAR"]]

In [12]:
per_info.shape

(1486277, 24)

In [13]:
per_info.head()

,ST_CASE,ST_CASE_YEAR,AGE,SEX,STATE,COUNTY,PER_TYP,PER_NO,INJ_SEV,DOA,...,P_SF2,P_SF3,LAG_HRS,WORK_INJ,RACE,STR_VEH,LOCATION,DRINKING,DRUGS,YEAR
0,10001,10001_2001,34.0,1.0,1.0,89.0,1.0,1.0,4.0,7.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,9.0,2001
1,10002,10002_2001,20.0,1.0,1.0,15.0,1.0,1.0,4.0,7.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2001
2,10003,10003_2001,43.0,1.0,1.0,85.0,1.0,1.0,4.0,7.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2001
3,10003,10003_2001,38.0,2.0,1.0,85.0,2.0,2.0,3.0,0.0,...,0.0,0.0,999.0,8.0,0.0,0.0,0.0,8.0,8.0,2001
4,10004,10004_2001,50.0,1.0,1.0,101.0,1.0,1.0,4.0,0.0,...,0.0,0.0,3.0,9.0,2.0,0.0,0.0,1.0,9.0,2001

In [14]:
ped_info = per_info[per_info['PER_TYP'] == 5]

In [15]:
ped_count = pd.DataFrame(index = per_info.ST_CASE_YEAR.unique())
ped_count['N_PED_DEAD'] = ped_info[ped_info['DEATH_MO']!=88].groupby(['ST_CASE_YEAR']).count()['DEATH_MO']

In [19]:
ped_count.head()

            N_PED_DEAD
10001_2001         0.0
10002_2001         0.0
10003_2001         0.0
10004_2001         0.0
10005_2001         0.0

In [16]:
ped_count.fillna(0,inplace=True)

In [18]:
pd.set_option('display.max_columns', 500)

In [20]:
ped_info.head()

,ST_CASE,ST_CASE_YEAR,AGE,SEX,STATE,COUNTY,PER_TYP,PER_NO,INJ_SEV,DOA,DEATH_MO,DEATH_DA,DEATH_YR,P_SF1,P_SF2,P_SF3,LAG_HRS,WORK_INJ,RACE,STR_VEH,LOCATION,DRINKING,DRUGS,YEAR
8,10006,10006_2001,94.0,1.0,1.0,121.0,5.0,1.0,4.0,7.0,1.0,15.0,2001.0,4.0,0.0,0.0,0.0,0.0,1.0,1.0,12.0,0.0,9.0,2001
77,10033,10033_2001,60.0,2.0,1.0,101.0,5.0,1.0,4.0,7.0,1.0,12.0,2001.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,12.0,9.0,9.0,2001
140,10060,10060_2001,30.0,1.0,1.0,73.0,5.0,1.0,4.0,0.0,2.0,1.0,2001.0,99.0,99.0,99.0,68.0,9.0,99.0,1.0,13.0,0.0,0.0,2001
146,10063,10063_2001,62.0,1.0,1.0,15.0,5.0,1.0,4.0,7.0,1.0,24.0,2001.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,12.0,8.0,8.0,2001
250,10112,10112_2001,42.0,1.0,1.0,89.0,5.0,1.0,4.0,7.0,2.0,14.0,2001.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,3.0,9.0,9.0,2001

In [13]:
## Total pedestrian count including seniors and younger people

In [26]:
# Total_count = pd.DataFrame(index = per_info.ST_CASE_YEAR.unique())
# Total_count['AGE65+'] = per_info[per_info['AGE']>65].groupby(['ST_CASE_YEAR']).count()['AGE']
# Total_count['AGE65-'] = per_info[per_info['AGE']<=65].groupby(['ST_CASE_YEAR']).count()['AGE']
# Total_count['PED'] = per_info[per_info['PER_TYP'] == 5].groupby(['ST_CASE_YEAR']).count()['PER_TYP']
# Total_count['N_PED_DEAD'] = ped_count['N_PED_DEAD']
# Total_count['N_UNDEAD'] = per_info[per_info['DEATH_MO']==88].groupby(['ST_CASE_YEAR']).count()['DEATH_MO']
# Total_count['N_DEAD'] = per_info[per_info['DEATH_MO']!=88].groupby(['ST_CASE_YEAR']).count()['DEATH_MO']
# Total_count['DRINKING+'] = per_info[per_info['DRINKING']==1].groupby(['ST_CASE_YEAR']).count()['DRINKING']
# Total_count['DRINKING-'] = per_info[per_info['DRINKING']==0].groupby(['ST_CASE_YEAR']).count()['DRINKING']
# Total_count['N_MALE'] = per_info[per_info['SEX']==1].groupby(['ST_CASE_YEAR']).count()['SEX']
# Total_count['N_FEMALE'] = per_info[per_info['SEX']==2].groupby(['ST_CASE_YEAR']).count()['SEX']
# Total_count['DRUG+'] = per_info[per_info['DRUGS']==1].groupby(['ST_CASE_YEAR']).count()['DRUGS']
# Total_count['DRUG-'] = per_info[per_info['DRUGS']==0].groupby(['ST_CASE_YEAR']).count()['DRUGS']
# Total_count['N_DEAD_AFTER'] = per_info[per_info['DOA']==0].groupby(['ST_CASE_YEAR']).count()['DOA']
# Total_count['N_DEAD_SCENE'] = per_info[per_info['DOA']==7].groupby(['ST_CASE_YEAR']).count()['DOA']
# Total_count['N_DEAD_ROUTE'] = per_info[per_info['DOA']==8].groupby(['ST_CASE_YEAR']).count()['DOA']
# Total_count.fillna(0,inplace=True)
# Total_count.reset_index(inplace=True)
# Total_count.rename(columns = {'index':'ST_CASE_YEAR'}, inplace = True)
# Total_count.head()

,ST_CASE_YEAR,AGE65+,AGE65-,PED,N_PED_DEAD,N_UNDEAD,N_DEAD,DRINKING+,DRINKING-,N_MALE,N_FEMALE,DRUG+,DRUG-,N_DEAD_AFTER,N_DEAD_SCENE,N_DEAD_ROUTE
0,10001_2001,0.0,1.0,0.0,0.0,0.0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10002_2001,0.0,1.0,0.0,0.0,0.0,1,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
2,10003_2001,0.0,2.0,0.0,0.0,0.0,2,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
3,10004_2001,0.0,2.0,0.0,0.0,0.0,2,1.0,1.0,1.0,1.0,0.0,1.0,2.0,0.0,0.0
4,10005_2001,1.0,1.0,0.0,0.0,0.0,2,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0

In [27]:
# Total_count.shape

(586603, 16)

In [21]:
## Separate dataframe for seniors only
se_per = per_info[per_info['AGE'] > 65]
se_per.shape

(185862, 24)

In [22]:
se_ped_info = se_per[se_per['PER_TYP'] == 5]
se_ped_count = pd.DataFrame(index = per_info.ST_CASE_YEAR.unique())
se_ped_count['N_PED_DEAD'] = se_ped_info[se_ped_info['DEATH_MO']!=88].groupby(['ST_CASE_YEAR']).count()['DEATH_MO']
se_ped_count.fillna(0,inplace=True)
se_ped_count.head()

            N_PED_DEAD
10001_2001         0.0
10002_2001         0.0
10003_2001         0.0
10004_2001         0.0
10005_2001         0.0

In [17]:
## Separate dataframe for younger people only
y_per = per_info[per_info['AGE'] <= 65]
y_per.shape

(1300415, 24)

In [34]:
y_ped_info = y_per[y_per['PER_TYP'] == 5]
y_ped_count = pd.DataFrame(index = per_info.ST_CASE_YEAR.unique())
y_ped_count['N_PED_DEAD'] = y_ped_info[y_ped_info['DEATH_MO']!=88].groupby(['ST_CASE_YEAR']).count()['DEATH_MO']
y_ped_count.fillna(0,inplace=True)
y_ped_count.head()

            N_PED_DEAD
10001_2001         0.0
10002_2001         0.0
10003_2001         0.0
10004_2001         0.0
10005_2001         0.0

In [23]:
# Aggregation of all
per_count = pd.DataFrame(index =per_info.ST_CASE_YEAR.unique())
per_count['SENIOR'] = se_per[se_per['AGE']>65].groupby(['ST_CASE_YEAR']).count()['AGE']
per_count['S_PED'] = se_per[se_per['PER_TYP'] == 5].groupby(['ST_CASE_YEAR']).count()['PER_TYP']
per_count['S_NOT_PED'] = se_per[se_per['PER_TYP'] != 5].groupby(['ST_CASE_YEAR']).count()['PER_TYP']
per_count['S_PED_DEAD'] = se_ped_count['N_PED_DEAD']
per_count['S_SURVIVED'] = se_per[se_per['DEATH_MO']==88].groupby(['ST_CASE_YEAR']).count()['DEATH_MO']
per_count['S_DEAD'] = se_per[se_per['DEATH_MO']!=88].groupby(['ST_CASE_YEAR']).count()['DEATH_MO']
per_count['S_DRINKING+'] = se_per[se_per['DRINKING']==1].groupby(['ST_CASE_YEAR']).count()['DRINKING']
per_count['S_DRINKING-'] = se_per[se_per['DRINKING']==0].groupby(['ST_CASE_YEAR']).count()['DRINKING']
per_count['S_MALE'] = se_per[se_per['SEX']==1].groupby(['ST_CASE_YEAR']).count()['SEX']
per_count['S_FEMALE'] = se_per[se_per['SEX']==2].groupby(['ST_CASE_YEAR']).count()['SEX']
per_count['S_DRUG+'] = se_per[se_per['DRUGS']==1].groupby(['ST_CASE_YEAR']).count()['DRUGS']
per_count['S_DRUG-'] = se_per[se_per['DRUGS']==0].groupby(['ST_CASE_YEAR']).count()['DRUGS']
per_count['S_DEAD_AFTER'] = se_per[se_per['DOA']==0].groupby(['ST_CASE_YEAR']).count()['DOA']
per_count['S_DEAD_SCENE'] = se_per[se_per['DOA']==7].groupby(['ST_CASE_YEAR']).count()['DOA']
per_count['S_DEAD_ROUTE'] = se_per[se_per['DOA']==8].groupby(['ST_CASE_YEAR']).count()['DOA']

per_count.fillna(0,inplace=True)
per_count.reset_index(inplace=True)
per_count.rename(columns = {'index':'ST_CASE_YEAR'}, inplace = True)
per_count.head()

,ST_CASE_YEAR,SENIOR,S_PED,S_NOT_PED,S_PED_DEAD,S_SURVIVED,S_DEAD,S_DRINKING+,S_DRINKING-,S_MALE,S_FEMALE,S_DRUG+,S_DRUG-,S_DEAD_AFTER,S_DEAD_SCENE,S_DEAD_ROUTE
0,10001_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10002_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10003_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10004_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10005_2001,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [24]:
per_count.shape

(586603, 16)

## Merge

In [26]:
left_merge = per_count.merge(acc_df, on=['ST_CASE_YEAR'], how='left')
left_merge.head()

,ST_CASE_YEAR,SENIOR,S_PED,S_NOT_PED,S_PED_DEAD,S_SURVIVED,S_DEAD,S_DRINKING+,S_DRINKING-,S_MALE,S_FEMALE,S_DRUG+,S_DRUG-,S_DEAD_AFTER,S_DEAD_SCENE,S_DEAD_ROUTE,ALIGNMNT,ARR_HOUR,ARR_MIN,CF1,CF2,CF3,CITY,COUNTY,C_M_ZONE,DAY,DAY_WEEK,DRUNK_DR,FATALS,FUNC_SYS,HARM_EV,HIT_RUN,HOSP_HR,HOSP_MN,HOUR,LATITUDE,LGT_COND,LONGITUD,MAN_COLL,MILEPT,MINUTE,MONTH,NHS,NOT_HOUR,NOT_MIN,NO_LANES,PAVE_TYP,PEDS,PERMVIT,PERNOTMVIT,PERSONS,PROFILE,PVH_INVL,RAIL,RD_OWNER,RELJCT1,RELJCT2,REL_JUNC,REL_ROAD,ROAD_FNC,ROUTE,RUR_URB,SCH_BUS,SP_JUR,SP_LIMIT,STATE,ST_CASE,SUR_COND,TRAF_FLO,TRA_CONT,TWAY_ID,TWAY_ID2,TYP_INT,T_CONT_F,VE_FORMS,VE_TOTAL,WEATHER,WEATHER1,WEATHER2,WRK_ZONE,YEAR
0,10001_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,20.0,45.0,0.0,0.0,0.0,0.0,89.0,0.0,3.0,4.0,1.0,1.0,NaN,1.0,0.0,0.0,0.0,20.0,34.977425,2.0,-86.775850,0.0,0.0,35.0,1.0,0.0,99.0,99.0,2.0,2.0,0.0,NaN,NaN,1.0,1.0,NaN,0000000,NaN,NaN,NaN,1.0,6.0,6.0,4.0,NaN,0.0,0.0,45.0,1.0,10001,1.0,1.0,0.0,1274,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001
1,10002_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,17.0,0.0,0.0,0.0,0.0,15.0,0.0,3.0,4.0,0.0,1.0,NaN,34.0,0.0,99.0,99.0,5.0,33.823950,2.0,-85.800567,0.0,75.0,0.0,1.0,0.0,99.0,99.0,2.0,2.0,0.0,NaN,NaN,1.0,2.0,NaN,0000000,NaN,NaN,NaN,1.0,6.0,4.0,3.0,NaN,0.0,0.0,65.0,1.0,10002,4.0,1.0,0.0,SR-204,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001
2,10003_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,23.0,30.0,0.0,0.0,0.0,0.0,85.0,0.0,6.0,7.0,0.0,1.0,NaN,27.0,0.0,99.0,99.0,22.0,32.272444,2.0,-86.507239,0.0,1230.0,58.0,1.0,0.0,99.0,99.0,2.0,2.0,0.0,NaN,NaN,2.0,2.0,NaN,0000000,NaN,NaN,NaN,1.0,6.0,3.0,3.0,NaN,0.0,0.0,55.0,1.0,10003,1.0,1.0,0.0,SR-21,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001
3,10004_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,17.0,59.0,0.0,0.0,0.0,0.0,101.0,0.0,10.0,4.0,1.0,1.0,NaN,12.0,0.0,99.0,99.0,17.0,32.276133,2.0,-86.347700,4.0,1642.0,40.0,1.0,1.0,99.0,99.0,2.0,2.0,0.0,NaN,NaN,2.0,1.0,NaN,0000000,NaN,NaN,NaN,1.0,1.0,1.0,1.0,NaN,0.0,0.0,70.0,1.0,10004,1.0,2.0,0.0,I-65,NaN,NaN,0.0,2.0,NaN,1.0,NaN,NaN,NaN,2001
4,10005_2001,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,2.0,10.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,2.0,3.0,0.0,1.0,NaN,1.0,0.0,0.0,0.0,9.0,33.850661,1.0,-86.827442,0.0,2993.0,50.0,1.0,0.0,99.0,99.0,2.0,2.0,0.0,NaN,NaN,2.0,1.0,NaN,0000000,NaN,NaN,NaN,1.0,6.0,4.0,2.0,NaN,0.0,0.0,45.0,1.0,10005,1.0,1.0,0.0,US-SR3,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001

In [27]:
left_merge.shape

(586603, 81)

In [28]:
right_m = per_count.merge(acc_df, on=['ST_CASE_YEAR'], how='right')
right_m.head()

,ST_CASE_YEAR,SENIOR,S_PED,S_NOT_PED,S_PED_DEAD,S_SURVIVED,S_DEAD,S_DRINKING+,S_DRINKING-,S_MALE,S_FEMALE,S_DRUG+,S_DRUG-,S_DEAD_AFTER,S_DEAD_SCENE,S_DEAD_ROUTE,ALIGNMNT,ARR_HOUR,ARR_MIN,CF1,CF2,CF3,CITY,COUNTY,C_M_ZONE,DAY,DAY_WEEK,DRUNK_DR,FATALS,FUNC_SYS,HARM_EV,HIT_RUN,HOSP_HR,HOSP_MN,HOUR,LATITUDE,LGT_COND,LONGITUD,MAN_COLL,MILEPT,MINUTE,MONTH,NHS,NOT_HOUR,NOT_MIN,NO_LANES,PAVE_TYP,PEDS,PERMVIT,PERNOTMVIT,PERSONS,PROFILE,PVH_INVL,RAIL,RD_OWNER,RELJCT1,RELJCT2,REL_JUNC,REL_ROAD,ROAD_FNC,ROUTE,RUR_URB,SCH_BUS,SP_JUR,SP_LIMIT,STATE,ST_CASE,SUR_COND,TRAF_FLO,TRA_CONT,TWAY_ID,TWAY_ID2,TYP_INT,T_CONT_F,VE_FORMS,VE_TOTAL,WEATHER,WEATHER1,WEATHER2,WRK_ZONE,YEAR
0,10001_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,20.0,45.0,0.0,0.0,0.0,0.0,89.0,0.0,3.0,4.0,1.0,1.0,NaN,1.0,0.0,0.0,0.0,20.0,34.977425,2.0,-86.775850,0.0,0.0,35.0,1.0,0.0,99.0,99.0,2.0,2.0,0.0,NaN,NaN,1.0,1.0,NaN,0000000,NaN,NaN,NaN,1.0,6.0,6.0,4.0,NaN,0.0,0.0,45.0,1.0,10001,1.0,1.0,0.0,1274,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001
1,10002_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,17.0,0.0,0.0,0.0,0.0,15.0,0.0,3.0,4.0,0.0,1.0,NaN,34.0,0.0,99.0,99.0,5.0,33.823950,2.0,-85.800567,0.0,75.0,0.0,1.0,0.0,99.0,99.0,2.0,2.0,0.0,NaN,NaN,1.0,2.0,NaN,0000000,NaN,NaN,NaN,1.0,6.0,4.0,3.0,NaN,0.0,0.0,65.0,1.0,10002,4.0,1.0,0.0,SR-204,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001
2,10003_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,23.0,30.0,0.0,0.0,0.0,0.0,85.0,0.0,6.0,7.0,0.0,1.0,NaN,27.0,0.0,99.0,99.0,22.0,32.272444,2.0,-86.507239,0.0,1230.0,58.0,1.0,0.0,99.0,99.0,2.0,2.0,0.0,NaN,NaN,2.0,2.0,NaN,0000000,NaN,NaN,NaN,1.0,6.0,3.0,3.0,NaN,0.0,0.0,55.0,1.0,10003,1.0,1.0,0.0,SR-21,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001
3,10004_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,17.0,59.0,0.0,0.0,0.0,0.0,101.0,0.0,10.0,4.0,1.0,1.0,NaN,12.0,0.0,99.0,99.0,17.0,32.276133,2.0,-86.347700,4.0,1642.0,40.0,1.0,1.0,99.0,99.0,2.0,2.0,0.0,NaN,NaN,2.0,1.0,NaN,0000000,NaN,NaN,NaN,1.0,1.0,1.0,1.0,NaN,0.0,0.0,70.0,1.0,10004,1.0,2.0,0.0,I-65,NaN,NaN,0.0,2.0,NaN,1.0,NaN,NaN,NaN,2001
4,10005_2001,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,2.0,10.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,2.0,3.0,0.0,1.0,NaN,1.0,0.0,0.0,0.0,9.0,33.850661,1.0,-86.827442,0.0,2993.0,50.0,1.0,0.0,99.0,99.0,2.0,2.0,0.0,NaN,NaN,2.0,1.0,NaN,0000000,NaN,NaN,NaN,1.0,6.0,4.0,2.0,NaN,0.0,0.0,45.0,1.0,10005,1.0,1.0,0.0,US-SR3,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001

In [29]:
right_m.shape

(586603, 81)

In [30]:
inner_m = per_count.merge(acc_df, on = ['ST_CASE_YEAR'], how='inner')
inner_m.head()

,ST_CASE_YEAR,SENIOR,S_PED,S_NOT_PED,S_PED_DEAD,S_SURVIVED,S_DEAD,S_DRINKING+,S_DRINKING-,S_MALE,S_FEMALE,S_DRUG+,S_DRUG-,S_DEAD_AFTER,S_DEAD_SCENE,S_DEAD_ROUTE,ALIGNMNT,ARR_HOUR,ARR_MIN,CF1,CF2,CF3,CITY,COUNTY,C_M_ZONE,DAY,DAY_WEEK,DRUNK_DR,FATALS,FUNC_SYS,HARM_EV,HIT_RUN,HOSP_HR,HOSP_MN,HOUR,LATITUDE,LGT_COND,LONGITUD,MAN_COLL,MILEPT,MINUTE,MONTH,NHS,NOT_HOUR,NOT_MIN,NO_LANES,PAVE_TYP,PEDS,PERMVIT,PERNOTMVIT,PERSONS,PROFILE,PVH_INVL,RAIL,RD_OWNER,RELJCT1,RELJCT2,REL_JUNC,REL_ROAD,ROAD_FNC,ROUTE,RUR_URB,SCH_BUS,SP_JUR,SP_LIMIT,STATE,ST_CASE,SUR_COND,TRAF_FLO,TRA_CONT,TWAY_ID,TWAY_ID2,TYP_INT,T_CONT_F,VE_FORMS,VE_TOTAL,WEATHER,WEATHER1,WEATHER2,WRK_ZONE,YEAR
0,10001_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,20.0,45.0,0.0,0.0,0.0,0.0,89.0,0.0,3.0,4.0,1.0,1.0,NaN,1.0,0.0,0.0,0.0,20.0,34.977425,2.0,-86.775850,0.0,0.0,35.0,1.0,0.0,99.0,99.0,2.0,2.0,0.0,NaN,NaN,1.0,1.0,NaN,0000000,NaN,NaN,NaN,1.0,6.0,6.0,4.0,NaN,0.0,0.0,45.0,1.0,10001,1.0,1.0,0.0,1274,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001
1,10002_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,17.0,0.0,0.0,0.0,0.0,15.0,0.0,3.0,4.0,0.0,1.0,NaN,34.0,0.0,99.0,99.0,5.0,33.823950,2.0,-85.800567,0.0,75.0,0.0,1.0,0.0,99.0,99.0,2.0,2.0,0.0,NaN,NaN,1.0,2.0,NaN,0000000,NaN,NaN,NaN,1.0,6.0,4.0,3.0,NaN,0.0,0.0,65.0,1.0,10002,4.0,1.0,0.0,SR-204,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001
2,10003_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,23.0,30.0,0.0,0.0,0.0,0.0,85.0,0.0,6.0,7.0,0.0,1.0,NaN,27.0,0.0,99.0,99.0,22.0,32.272444,2.0,-86.507239,0.0,1230.0,58.0,1.0,0.0,99.0,99.0,2.0,2.0,0.0,NaN,NaN,2.0,2.0,NaN,0000000,NaN,NaN,NaN,1.0,6.0,3.0,3.0,NaN,0.0,0.0,55.0,1.0,10003,1.0,1.0,0.0,SR-21,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001
3,10004_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,17.0,59.0,0.0,0.0,0.0,0.0,101.0,0.0,10.0,4.0,1.0,1.0,NaN,12.0,0.0,99.0,99.0,17.0,32.276133,2.0,-86.347700,4.0,1642.0,40.0,1.0,1.0,99.0,99.0,2.0,2.0,0.0,NaN,NaN,2.0,1.0,NaN,0000000,NaN,NaN,NaN,1.0,1.0,1.0,1.0,NaN,0.0,0.0,70.0,1.0,10004,1.0,2.0,0.0,I-65,NaN,NaN,0.0,2.0,NaN,1.0,NaN,NaN,NaN,2001
4,10005_2001,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,2.0,10.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,2.0,3.0,0.0,1.0,NaN,1.0,0.0,0.0,0.0,9.0,33.850661,1.0,-86.827442,0.0,2993.0,50.0,1.0,0.0,99.0,99.0,2.0,2.0,0.0,NaN,NaN,2.0,1.0,NaN,0000000,NaN,NaN,NaN,1.0,6.0,4.0,2.0,NaN,0.0,0.0,45.0,1.0,10005,1.0,1.0,0.0,US-SR3,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001

In [31]:
inner_m.shape

(586603, 81)

## NYC only

In [32]:
nyc_inner = copy.deepcopy(inner_m)

In [33]:
"""
Use STATE_x and COUNTY_x because the accidents and persons data sets each had state and county variables and 
therefore pandas renamed these variables with _x and _y during the merge.
"""
nyc_inner = nyc_inner[nyc_inner.STATE == 36]
nyc_inner = nyc_inner[((nyc_inner.COUNTY == 5) | (nyc_inner.COUNTY == 47) | (nyc_inner.COUNTY == 61) | \
                 (nyc_inner.COUNTY == 81) | (nyc_inner.COUNTY == 85))]

In [34]:
nyc_inner.head()

,ST_CASE_YEAR,SENIOR,S_PED,S_NOT_PED,S_PED_DEAD,S_SURVIVED,S_DEAD,S_DRINKING+,S_DRINKING-,S_MALE,S_FEMALE,S_DRUG+,S_DRUG-,S_DEAD_AFTER,S_DEAD_SCENE,S_DEAD_ROUTE,ALIGNMNT,ARR_HOUR,ARR_MIN,CF1,CF2,CF3,CITY,COUNTY,C_M_ZONE,DAY,DAY_WEEK,DRUNK_DR,FATALS,FUNC_SYS,HARM_EV,HIT_RUN,HOSP_HR,HOSP_MN,HOUR,LATITUDE,LGT_COND,LONGITUD,MAN_COLL,MILEPT,MINUTE,MONTH,NHS,NOT_HOUR,NOT_MIN,NO_LANES,PAVE_TYP,PEDS,PERMVIT,PERNOTMVIT,PERSONS,PROFILE,PVH_INVL,RAIL,RD_OWNER,RELJCT1,RELJCT2,REL_JUNC,REL_ROAD,ROAD_FNC,ROUTE,RUR_URB,SCH_BUS,SP_JUR,SP_LIMIT,STATE,ST_CASE,SUR_COND,TRAF_FLO,TRA_CONT,TWAY_ID,TWAY_ID2,TYP_INT,T_CONT_F,VE_FORMS,VE_TOTAL,WEATHER,WEATHER1,WEATHER2,WRK_ZONE,YEAR
22792,360075_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,99.0,99.0,0.0,0.0,0.0,4170.0,81.0,0.0,19.0,6.0,0.0,1.0,NaN,8.0,0.0,99.0,99.0,7.0,40.690725,1.0,-73.726761,0.0,8.0,30.0,1.0,1.0,99.0,99.0,4.0,2.0,1.0,NaN,NaN,2.0,1.0,NaN,0000000,NaN,NaN,NaN,2.0,1.0,12.0,8.0,NaN,0.0,0.0,99.0,36.0,360075,2.0,1.0,3.0,907A,NaN,NaN,3.0,1.0,NaN,2.0,NaN,NaN,NaN,2001
22797,360080_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,99.0,99.0,0.0,0.0,0.0,4170.0,47.0,0.0,2.0,3.0,0.0,4.0,NaN,45.0,0.0,99.0,99.0,3.0,40.621569,3.0,-74.009522,0.0,0.0,35.0,1.0,0.0,99.0,99.0,2.0,2.0,0.0,NaN,NaN,5.0,1.0,NaN,0000000,NaN,NaN,NaN,2.0,1.0,13.0,8.0,NaN,0.0,0.0,30.0,36.0,360080,3.0,1.0,0.0,BAY RIDGE PARKWAY,NaN,NaN,0.0,2.0,NaN,1.0,NaN,NaN,NaN,2001
22800,360083_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,99.0,99.0,0.0,0.0,0.0,4170.0,81.0,0.0,16.0,6.0,1.0,1.0,NaN,25.0,0.0,99.0,99.0,1.0,NaN,3.0,NaN,0.0,16.0,25.0,2.0,1.0,99.0,99.0,3.0,2.0,0.0,NaN,NaN,2.0,1.0,NaN,0000000,NaN,NaN,NaN,1.0,3.0,11.0,8.0,NaN,0.0,0.0,99.0,36.0,360083,1.0,3.0,0.0,908D,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001
22808,360091_2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,99.0,99.0,0.0,0.0,0.0,4170.0,47.0,0.0,15.0,2.0,1.0,1.0,NaN,8.0,0.0,99.0,99.0,18.0,NaN,3.0,NaN,0.0,0.0,0.0,1.0,0.0,99.0,99.0,4.0,2.0,1.0,NaN,NaN,2.0,1.0,NaN,0000000,NaN,NaN,NaN,1.0,1.0,13.0,6.0,NaN,0.0,0.0,30.0,36.0,360091,1.0,1.0,0.0,CONEY ISLAND AVE,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001
22809,360092_2001,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,99.0,99.0,0.0,0.0,0.0,4170.0,81.0,0.0,25.0,5.0,1.0,1.0,NaN,12.0,0.0,99.0,99.0,3.0,NaN,3.0,NaN,4.0,98.0,45.0,1.0,1.0,99.0,99.0,3.0,2.0,0.0,NaN,NaN,2.0,1.0,NaN,0000000,NaN,NaN,NaN,11.0,1.0,11.0,1.0,NaN,0.0,0.0,50.0,36.0,360092,1.0,3.0,0.0,I-678,NaN,NaN,0.0,2.0,NaN,1.0,NaN,NaN,NaN,2001

In [35]:
# When we filter down to NYC accidents only, we're left with 4660 accidents.
nyc_inner.shape

(4660, 81)

In [37]:
nyc_inner_ped = nyc_inner[nyc_inner['S_PED'] > 0]

In [38]:
nyc_inner_ped.shape

(936, 81)

## Check NYC pedestrian counts with left join

In [39]:
nyc_left = copy.deepcopy(left_merge)

In [40]:
"""
Use STATE_x and COUNTY_x because the accidents and persons data sets each had state and county variables and 
therefore pandas renamed these variables with _x and _y during the merge.
"""
nyc_left = nyc_left[nyc_left.STATE == 36]
nyc_left = nyc_left[((nyc_left.COUNTY == 5) | (nyc_left.COUNTY == 47) | (nyc_left.COUNTY == 61) | \
                 (nyc_left.COUNTY == 81) | (nyc_left.COUNTY == 85))]

In [41]:
nyc_left_ped = nyc_left[nyc_left['S_PED'] > 0]

In [42]:
nyc_left_ped.head()

,ST_CASE_YEAR,SENIOR,S_PED,S_NOT_PED,S_PED_DEAD,S_SURVIVED,S_DEAD,S_DRINKING+,S_DRINKING-,S_MALE,S_FEMALE,S_DRUG+,S_DRUG-,S_DEAD_AFTER,S_DEAD_SCENE,S_DEAD_ROUTE,ALIGNMNT,ARR_HOUR,ARR_MIN,CF1,CF2,CF3,CITY,COUNTY,C_M_ZONE,DAY,DAY_WEEK,DRUNK_DR,FATALS,FUNC_SYS,HARM_EV,HIT_RUN,HOSP_HR,HOSP_MN,HOUR,LATITUDE,LGT_COND,LONGITUD,MAN_COLL,MILEPT,MINUTE,MONTH,NHS,NOT_HOUR,NOT_MIN,NO_LANES,PAVE_TYP,PEDS,PERMVIT,PERNOTMVIT,PERSONS,PROFILE,PVH_INVL,RAIL,RD_OWNER,RELJCT1,RELJCT2,REL_JUNC,REL_ROAD,ROAD_FNC,ROUTE,RUR_URB,SCH_BUS,SP_JUR,SP_LIMIT,STATE,ST_CASE,SUR_COND,TRAF_FLO,TRA_CONT,TWAY_ID,TWAY_ID2,TYP_INT,T_CONT_F,VE_FORMS,VE_TOTAL,WEATHER,WEATHER1,WEATHER2,WRK_ZONE,YEAR
22811,360094_2001,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,99.0,99.0,0.0,0.0,0.0,4170.0,47.0,0.0,25.0,5.0,0.0,1.0,NaN,8.0,0.0,99.0,99.0,18.0,NaN,5.0,NaN,0.0,0.0,5.0,1.0,0.0,99.0,99.0,4.0,2.0,1.0,NaN,NaN,3.0,1.0,NaN,0000000,NaN,NaN,NaN,2.0,1.0,13.0,6.0,NaN,0.0,0.0,30.0,36.0,360094,1.0,1.0,3.0,3 AVE.,NaN,NaN,3.0,1.0,NaN,1.0,NaN,NaN,NaN,2001
22835,360118_2001,3.0,1.0,2.0,1.0,0.0,3.0,0.0,1.0,3.0,0.0,0.0,1.0,2.0,1.0,0.0,1.0,99.0,99.0,0.0,0.0,0.0,4170.0,61.0,0.0,18.0,5.0,1.0,1.0,NaN,8.0,0.0,99.0,99.0,16.0,40.832786,5.0,-73.945856,0.0,0.0,32.0,1.0,0.0,99.0,99.0,4.0,2.0,1.0,NaN,NaN,4.0,2.0,NaN,0000000,NaN,NaN,NaN,2.0,1.0,13.0,6.0,NaN,0.0,0.0,99.0,36.0,360118,2.0,1.0,3.0,BROADWAY,NaN,NaN,3.0,1.0,NaN,2.0,NaN,NaN,NaN,2001
22867,360150_2001,2.0,2.0,0.0,2.0,0.0,2.0,0.0,2.0,1.0,1.0,0.0,2.0,2.0,0.0,0.0,1.0,99.0,99.0,0.0,0.0,0.0,4170.0,81.0,0.0,23.0,3.0,0.0,2.0,NaN,8.0,0.0,99.0,99.0,13.0,40.681522,1.0,-73.817803,0.0,0.0,30.0,1.0,0.0,99.0,99.0,2.0,2.0,2.0,NaN,NaN,3.0,1.0,NaN,0000000,NaN,NaN,NaN,2.0,1.0,6.0,6.0,NaN,0.0,0.0,99.0,36.0,360150,1.0,1.0,0.0,111 AVE,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001
22884,360168_2001,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,99.0,99.0,0.0,0.0,0.0,4170.0,61.0,0.0,31.0,4.0,0.0,1.0,NaN,8.0,0.0,99.0,99.0,17.0,40.771333,3.0,-73.983200,0.0,0.0,52.0,1.0,0.0,99.0,99.0,4.0,2.0,1.0,NaN,NaN,3.0,1.0,NaN,0000000,NaN,NaN,NaN,2.0,1.0,13.0,6.0,NaN,0.0,0.0,30.0,36.0,360168,1.0,1.0,0.0,COLUMBUS AVE,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001
22885,360169_2001,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,99.0,99.0,0.0,0.0,0.0,4170.0,5.0,0.0,20.0,3.0,0.0,1.0,NaN,8.0,0.0,99.0,99.0,12.0,NaN,1.0,NaN,0.0,0.0,10.0,3.0,0.0,99.0,99.0,2.0,2.0,1.0,NaN,NaN,3.0,1.0,NaN,0000000,NaN,NaN,NaN,1.0,1.0,13.0,6.0,NaN,0.0,0.0,30.0,36.0,360169,1.0,1.0,0.0,WESTCHESTER AVE,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001

In [43]:
nyc_left_ped.shape

(936, 81)

In [44]:
nyc_left_ped = nyc_inner[(nyc_left['S_PED'] > 0)]

In [45]:
nyc_left_ped.shape

(936, 81)

In [46]:
nyc_left_ped.head()

,ST_CASE_YEAR,SENIOR,S_PED,S_NOT_PED,S_PED_DEAD,S_SURVIVED,S_DEAD,S_DRINKING+,S_DRINKING-,S_MALE,S_FEMALE,S_DRUG+,S_DRUG-,S_DEAD_AFTER,S_DEAD_SCENE,S_DEAD_ROUTE,ALIGNMNT,ARR_HOUR,ARR_MIN,CF1,CF2,CF3,CITY,COUNTY,C_M_ZONE,DAY,DAY_WEEK,DRUNK_DR,FATALS,FUNC_SYS,HARM_EV,HIT_RUN,HOSP_HR,HOSP_MN,HOUR,LATITUDE,LGT_COND,LONGITUD,MAN_COLL,MILEPT,MINUTE,MONTH,NHS,NOT_HOUR,NOT_MIN,NO_LANES,PAVE_TYP,PEDS,PERMVIT,PERNOTMVIT,PERSONS,PROFILE,PVH_INVL,RAIL,RD_OWNER,RELJCT1,RELJCT2,REL_JUNC,REL_ROAD,ROAD_FNC,ROUTE,RUR_URB,SCH_BUS,SP_JUR,SP_LIMIT,STATE,ST_CASE,SUR_COND,TRAF_FLO,TRA_CONT,TWAY_ID,TWAY_ID2,TYP_INT,T_CONT_F,VE_FORMS,VE_TOTAL,WEATHER,WEATHER1,WEATHER2,WRK_ZONE,YEAR
22811,360094_2001,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,99.0,99.0,0.0,0.0,0.0,4170.0,47.0,0.0,25.0,5.0,0.0,1.0,NaN,8.0,0.0,99.0,99.0,18.0,NaN,5.0,NaN,0.0,0.0,5.0,1.0,0.0,99.0,99.0,4.0,2.0,1.0,NaN,NaN,3.0,1.0,NaN,0000000,NaN,NaN,NaN,2.0,1.0,13.0,6.0,NaN,0.0,0.0,30.0,36.0,360094,1.0,1.0,3.0,3 AVE.,NaN,NaN,3.0,1.0,NaN,1.0,NaN,NaN,NaN,2001
22835,360118_2001,3.0,1.0,2.0,1.0,0.0,3.0,0.0,1.0,3.0,0.0,0.0,1.0,2.0,1.0,0.0,1.0,99.0,99.0,0.0,0.0,0.0,4170.0,61.0,0.0,18.0,5.0,1.0,1.0,NaN,8.0,0.0,99.0,99.0,16.0,40.832786,5.0,-73.945856,0.0,0.0,32.0,1.0,0.0,99.0,99.0,4.0,2.0,1.0,NaN,NaN,4.0,2.0,NaN,0000000,NaN,NaN,NaN,2.0,1.0,13.0,6.0,NaN,0.0,0.0,99.0,36.0,360118,2.0,1.0,3.0,BROADWAY,NaN,NaN,3.0,1.0,NaN,2.0,NaN,NaN,NaN,2001
22867,360150_2001,2.0,2.0,0.0,2.0,0.0,2.0,0.0,2.0,1.0,1.0,0.0,2.0,2.0,0.0,0.0,1.0,99.0,99.0,0.0,0.0,0.0,4170.0,81.0,0.0,23.0,3.0,0.0,2.0,NaN,8.0,0.0,99.0,99.0,13.0,40.681522,1.0,-73.817803,0.0,0.0,30.0,1.0,0.0,99.0,99.0,2.0,2.0,2.0,NaN,NaN,3.0,1.0,NaN,0000000,NaN,NaN,NaN,2.0,1.0,6.0,6.0,NaN,0.0,0.0,99.0,36.0,360150,1.0,1.0,0.0,111 AVE,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001
22884,360168_2001,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,99.0,99.0,0.0,0.0,0.0,4170.0,61.0,0.0,31.0,4.0,0.0,1.0,NaN,8.0,0.0,99.0,99.0,17.0,40.771333,3.0,-73.983200,0.0,0.0,52.0,1.0,0.0,99.0,99.0,4.0,2.0,1.0,NaN,NaN,3.0,1.0,NaN,0000000,NaN,NaN,NaN,2.0,1.0,13.0,6.0,NaN,0.0,0.0,30.0,36.0,360168,1.0,1.0,0.0,COLUMBUS AVE,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001
22885,360169_2001,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,99.0,99.0,0.0,0.0,0.0,4170.0,5.0,0.0,20.0,3.0,0.0,1.0,NaN,8.0,0.0,99.0,99.0,12.0,NaN,1.0,NaN,0.0,0.0,10.0,3.0,0.0,99.0,99.0,2.0,2.0,1.0,NaN,NaN,3.0,1.0,NaN,0000000,NaN,NaN,NaN,1.0,1.0,13.0,6.0,NaN,0.0,0.0,30.0,36.0,360169,1.0,1.0,0.0,WESTCHESTER AVE,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,2001

## Export csv for other analysis

In [48]:
# Uncomment if you need to remake this csv for some reason
# nyc_left_ped.to_csv('../data/cleanData/mergedClean.csv', encoding='utf-8', index=False)